<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<style>
    .modal {
        border: 100px solid rgb(227, 235, 241);
        display: none;
        text-align: center;
    }

    .modalContent {
        background-color: rgb(255, 255, 255);
    }

    #myChart {
        padding-top: 50px;
        margin: 0 auto;
    }
</style>



<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

    <body>
        <button id='btn' class='button' value='<%= date %>'>
            Data
        </button>
        <input type="hidden" id="btn1" value="<%= price %>">
        </input>

        <div id="myModal" class="modal">
            <div class="modalContent">
                <span class="close"> &times; </span>
                <canvas id="myChart" style="width:100%;max-width:550px"></canvas>
            </div>
        </div>
    </body>




    <script>
        function renderChart(date, price) {
            console.log(date)
            console.log(price)

            var xValues = date
            var yValues = price
            const xArray = xValues.split(",")
            const yArray = yValues.split(",")

            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: xArray,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: yArray,
                    }]
                },
                options: {
                    legend: { display: false },
                    scales: {
                        yAxes: [{ ticks: { min: 10, max: 100 } }],
                    }
                }
            });
        }
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("btn");
        var span = document.getElementsByClassName("close")[0];
        var date = document.getElementById("btn").value;
        var price = document.getElementById("btn1").value;


        btn.onclick = function () {
            modal.style.display = 'block'
            renderChart(date, price);
        }

        span.onclick = function () {
            modal.style.display = 'none';
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    </script>
</body>